.slider__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(157, 189, 178);
  &__display{
    display: block;
  }
}
.container__selects__none{
  display: none;
}
.search__zone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;

  &__title{
    text-align: center;
    font-size: 1.0rem;
    color: black;
    padding: 3%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
  }
}

.search__adress {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.search__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

}

.container__selects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    width: 100%;
    display: flex;



    &__select {
      width: 80%;
      padding: 2%;
      border-radius: 8px;
      margin-right: 8%;
      margin-bottom: 5%;
      background-color: white;
      z-index : -1;

      &__transport {
        margin-left: 8%;
        width: 80%;
        padding: 2%;
        border-radius: 8px;
        margin-right: 8%;
        margin-bottom: 5%;
        background-color: white;
      }
    }

  }
}
//  PAGE EXPLORE ******************************************
.search__zoneExplore{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 8%;

  .search__adress{
    width: 55%;
    margin: 0 2%;
    padding: 0;
    margin-bottom: 5%;
  }

  .search__zone__title{
    display: none;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  .container__selects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  .container__selects__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5%;
    height: 2rem;
    width: 65%;

    .container__selects__content__select{
      width: 100%;
      padding: 3% 0;
      margin-bottom: 5%;
    }
  }
}
}
}


@media(min-width:1100px) {

  .search__zone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;

    

    &__title{
      display: flex;
      justify-content: center;
      font-size: 1.0rem;
      color: black;
    }
  }

  .search__adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__suggestion{
      background-color: blue;

    }
  }

  .search__button {
    width: 100%;
  }


  .container__selects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
      width: 100%;
      display: flex;

    &__select {
      padding: 2%;
      border-radius: 8px;
      margin-right: 7%;
      margin-bottom: 5%;
      background-color: white;

      &__transport {
        width: 100%;
        padding: 2%;
        border-radius: 8px;
        margin-right: 7%;
        margin-bottom: 5%;
        background-color: white;
      }
    }
  }
}
//  PAGE EXPLORE ******************************************
    .search__zoneExplore{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 64%;
      padding: 1rem 1rem;
      margin: 0;

      .search__adress{
        width: 55%;
        margin: 0 2%;
        padding: 0;
        margin-bottom: 0rem;
      }

      .search__zone__title{
        display: none;
      }

      form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0rem;


      .container__selects{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0rem;


      .container__selects__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 2rem;
        width: 33%;
        margin-bottom: 0rem;

        .container__selects__content__select{
          width: 100%;
          padding: 3% 0;
          margin-bottom: 0rem;
        }
      }
    }
    .search__button{
      display: none;
    }
  }
 }
}



// --------------------------- input range
input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  background: rgb(157, 189, 178);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  background: rgb(157, 189, 178);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  background: rgb(157, 189, 178);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}
input[type=range]:disabled {
  /* Disabled Element */
  &::-webkit-slider-thumb {
    background-color: #adb5bd;
  }

  &::-webkit-slider-runnable-track {
    cursor: default;
  }

  &::-moz-range-thumb {
    background-color: #adb5bd;
  }

  &::-moz-range-track {
    cursor: default;
  }

  &::-ms-thumb {
    background-color: #adb5bd;
  }
}