@use '../../styles/vars.scss';

.input_autocomplete{
  border: 1px solid vars.$primaryColor;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
}
.autocomplete_container{
  position: relative;
}

@media screen and (min-width: 1100px){
  .input_autocomplete{
    width: 17.5rem;
  }
}