@use '../../styles/vars.scss';

.input_autocomplete{
  border: 1px solid vars.$primaryColor;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.autocomplete_container{
  width: 100%;
}

@media screen and (min-width: 1100px){
  .input_autocomplete{
    width: 100%;
  }
}