@use '../../styles/vars';

.list__container{
.list__container {
  display: flex;
  flex-direction: column;
  width: 100%;



  &__title {
    display: none;
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0%;

    &__offer {
      width: 100%;
      display: flex;
      border-radius: 10px;
      margin: 2% 2% 2% 2%;
      padding: 1%;
      background-color: vars.$primaryColor;

      &__picture {
        width: 40%;
        margin: 2%;
        border-radius: 8px;
      }

      &__title {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3%;
        font-size: 1.3em;

      }
    }
  }
}






@media (min-width: 800px) {

  .list__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    &__main {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: center;
      overflow-y: auto;
      direction: rtl;

      &__offer {
        
          width: 80%;
          height: 20%;
          display: flex;
          border-radius: 5px;
          padding: 1%;
          background-color: rgb(157, 189, 178);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

          &__picture {
            width: 50%;
            height: 90%;
            object-fit: cover;
          }

          &__title {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 2% 0% 0% 2%;
            font-size: 1rem;
          }
       
      }
      &__offer:first-child {
        margin-top: 0%;
      }
    }
  }}
}