@use '../../styles/vars';


.container__control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  margin: 8%;
  flex-flow: wrap;

  &__title{
    display: flex;
    font-size: 1.0rem;
    color: black;
    padding: 3%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
  }
}
.container__switch {
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 2%;
}
.container__checkboxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}
 .switch {
    display: flex;
    flex-direction: row;
  }
  
   .switch input { 
     position: relative;
     vertical-align: middle;
     top: 10px;
  }
  .slider__icon {
    margin-left: 5px;
  }

  .switch__font {
    color: vars.$secondaryColor;
    filter:drop-shadow(1px 1px 1px rgb(209, 206, 0))
  }

@media(min-width:1100px){
.container__control {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  &__title{
    display: flex;
    padding-top: 2%;
    font-size: 1.0rem;
    color: black;
    align-items: center;
    justify-content: center;
  }
}

.container__checkboxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 80%;
}
.container__checkboxesOnexplore{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.container__switch {
  display: flex;
  flex-direction: row;
}
 .switch {
    display: flex;
    width: fit-content;
    height: fit-content;
  }
  
  .switch input { 
    top: 10px;
  }
  .slider__icon {
    margin-left: 5px;
  }

  .switch__font {
    color: vars.$secondaryColor;
    filter:drop-shadow(1px 1px 1px rgb(209, 206, 0))
  }}
