@use '../../styles/vars';


.offer {
  width: 100%;
  height: 35%;
  display: flex;
  border-radius: 4px;
  margin: 2% 2% 2% 2%;
  padding: 1%;
  background-color: vars.$primaryColor;

  &__picture {
    width: 40%;
    height: fit-content;
    margin: 2%;
    border-radius: 4px;
  }

  &__content {
    flex-direction: column;
    width: 100%;
    height: 100%;



    &__title {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      margin-top: 3%;
      font-size: 1.2em;
      padding-bottom: 2%;
      color: vars.$secondaryColor;
    }

    &__description {
      font-size: 0.9em;


    }

    &__price {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 2.5em;
      padding-top: 6%;
      color: vars.$secondaryColor;
    }

  }
}


@media (min-width: 800px) {


  .offer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 4px;
    padding: 1%;
    background-color: rgb(157, 189, 178);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &__picture {
      width: 50%;
      height: 90%;
      object-fit: cover;
    }

    &__content {
      width: 100%;
      height: 100%;

      &__title {
        width: 100%;
        padding: 4% 0% 4% 0%;
        font-size: 1.7rem;
        text-align: left;
        color: vars.$secondaryColor;
      }

      &__description {
        width: 100%;
        text-align: left;
      }

      &__price {
        width: 100%;
        justify-content: center;
        font-size: 2.5em;
        padding-top: 6%;
        color: vars.$secondaryColor;
      }
      &__moreinfo{
        padding-top: 2%;
        color: vars.$secondaryColor;
        margin-top: 2%;
      }
    }


  }

}
