/* Desktop */
@use "../../styles/vars";

h2 {
  font-size: 2rem;
  margin: 1%;
}

h3 {
  font-size: 1.5rem;
  margin: 2%;
}

.Offer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  &__containerLeft {
    background-color: white;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2%;

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 2%;
      align-items: center;
      


      &__description {
        width: 100%;
        height: auto;
        padding: 2%;
        line-height: 1.3;
      }

      &__title {
        font-size: 1.3rem;
        padding-bottom: 8%;
      }

      &__containerRight {
        display: none;

      }
    }

    .Offer__sub {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-left: 2%;

      &__content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
        margin-top: 1%;
        font-size: 2.5rem;
        padding-top: 5%;
        font-weight: lighter;
        border-top: solid rgba(0, 0, 0, 0.10) 1px;
        color: vars.$secondaryColor;

      }
    }
  }

  &__container__right {
    display: flex;

  }
}

@media (min-width: 1100px) {


  .Offer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
    &__containerLeft {
      background-color: white;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;


      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 2%;
        align-items: center;
        justify-content: center;

        &__description {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: auto;
          padding: 2%;
          margin-top: 5%;

        }

        &__title {
          font-size: 1.7rem;
          padding-bottom: 5%;
        }
      }

      .Offer__sub {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;
        margin-right: 3%;

        &__content {
          display: flex;
          width: 100%;
          height: 5%;
          justify-content: flex-start;
          align-items: flex-end;
          margin-bottom: 2%;
          margin-top: 5%;
          font-size: 3rem;
          font-weight: lighter;
          border-top:none;
          box-shadow: none;
        }
      }
    }

    &__container__right {
      display: block;
      width: 50%;
      height: auto;
      padding-top: 1%;
      box-shadow: -6px 0px 8px -5px rgba(0, 0, 0, 0.30);
    }
  }
}
