.boarddatas_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;


  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    width: 100%;
    height: 100%;

    &__percent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 50%;
      padding: 2%;
      margin-top: 7%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &__picture {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;

    &__graph {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50%;
      align-items: center;
      margin-top: 7%;
      padding: 2%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &__picture {
        width: 100%;
      }
    }
  }
}


/* Desktop */
@media (min-width: 800px) {

  .boarddatas_container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
  
  
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3%;
      
      width: 100%;
      height: 100%;
  
      &__percent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 30%;
        padding: 2%;
        margin-top: 3%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: white;
        &__picture {
          width: 100%;
        }
      }
    }
  
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70%;
      padding-bottom: 3%;
      
  
      &__graph {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 20%;
        align-items: center;
        margin: 1% 3% 3% 3%;
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
        &__picture {
          width: 100%;
        }
      }
    }
  }


}
