@use '../../styles/vars';

.inputContainer{
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 4px;
  border: 1px solid vars.$primaryColor;
  padding: 0.5rem 1rem;
  color:vars.$primaryColor;
  
  &__input{
    display: block;
    width:90%;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border: none;
}

}