@use '../../styles/vars';

span {
  padding: 0 2% 0 2%;
  color: vars.$secondaryColor;
}

.container {

  display: flex;
  flex-direction: column;
  width: 100%;

  &__tabnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
  }

  &__datas{
    display: none;
  }
  &__listcardoffer {
    display: none;

  }

  &__map{
    
    display: block;
    width: 100%;
    height: 70vh;

  }
}


/* Desktop */
@media (min-width: 1100px) {

  .searchContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 3px 3px;
    height: 0;
    padding: 0 1rem;
    overflow-y: hidden ;
    transition: height 300ms ease-out;

  }
  .searchContainer_open{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    padding: 1rem;
    border-radius: 0 0 3px 3px;
    transition: height 300ms ease-out;

  }
  .faUp_icon{
    display: block;
    padding: 0.5rem;
    margin: auto;
    cursor: pointer;
    color: vars.$secondaryColor;
    width: 100%;
    text-align: center;
    transition: transform ease-out;
  
  }

  .faDown_icon{
    display: block;
    margin: auto;
    cursor: pointer;
    color: vars.$secondaryColor;
    width: 100%;
    text-align: center;
    transform: rotate(-180deg)
  }
  .searchContainer__and__icon{
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 0px 3px 8px 1px rgba(197, 197, 197, 0.1);
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__tabnavbar {
      display: none;
    }    
   
    &__map {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    &__datas{
      display: flex;
      width: fit-content;
      height: 15%;
      padding-bottom: 1%;
    }

    &__boarddatas {
      display: flex;
      width: 50%;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
