h4 {
  padding: 0 2% 0 2%;
  color: #406F8A;
}

.container {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__tabnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
  }

  &__listcardoffer {
    display: none;

  }

  &__map {
    width: 100%;
    height: 100%;

  }

  &__boarddatas {
    display: none;

  }
}


/* Desktop */
@media (min-width: 1100px) {

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__tabnavbar {
      display: none;
    }

    &__listcardoffer {
      display: flex;
      width: 50%;
      height: 100%;

    }

    &__listcardoffer:hover {
      -webkit-transition: width 1s linear;
      -moz-transition: width 1s linear;
      -ms-transition: width 1s linear;
      -o-transition: width 1s linear;
      transition: width 1s linear;
    }

    &__map {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 95%;
      padding: 1em;

    }

    &__boarddatas {
      display: flex;
      width: 50%;
      height: 100%;


    }
  }
}
