h4 {
  padding: 0 2% 0 2%;
  color: #406F8A;
}

.container {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__tabnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0  2% 0;
  }

  &__listcardoffer {
    display: none;

  }

  &__map {
    width: 100%;
    height: 100%;

    &__picture {
      display: flex;
      width: 100%;
      height: 68vh;
    }


    &__mapsettings {
      display: none;

    }
  }

  &__boarddatas {
    display: none;

  }
}


/* Desktop */
@media (min-width: 1100px) {

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__tabnavbar {
      display: none;
    }

    &__listcardoffer {
      display: flex;
      width: 50%;
      height: 100%;
    }

    &__map {
      display: flex;
      flex-direction: column;
      width: 100%;
      height:100%;
      margin: 0.5% 0 0.5% 0;
      
      &__map{

      display: flex;
      flex-direction: column;
      width: 100%;
      height:100%;
      
      }

      &__picture {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      &__mapsettings {
        display: flex;    
      }
    }

    &__boarddatas {
      display: flex;
      width: 50%;
      height: 100%;
      overflow-y: scroll;

    }
  }
}
