.button__back {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:  4px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  font-size: 20px;
  font-weight: 700;
  padding: 17px;
  background-color: #9DBDB2;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  margin-right: 1%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.button__back:hover {
  
  background: #476B5E;
  background-image: -webkit-linear-gradient(top, #476B5E, #476B5E);
  background-image: -moz-linear-gradient(top, #476B5E, #476B5E);
  background-image: -ms-linear-gradient(top, #476B5E, #476B5E);
  background-image: -o-linear-gradient(top, #476B5E, #476B5E);
  background-image: -webkit-gradient(to bottom, #476B5E, #476B5E);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:  4px;
  text-decoration: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: rgba(11, 51, 44, 0.74) 0px 15px 20px -20px;

}
