.container__contact{
    display: flex;
    flex-direction: column;

    &__card{
        width: auto ;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3%;
        padding: 2%;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);

        &__name{
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: xx-large;
        }
        h3{
            font-size: medium;
            font-weight: bold;
        }
        &__role{
            font-size: medium;
        }
        a{
            font-size: small;
        }
        &__img {
            
            width: 80%;
            height: 80%;
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);
        }

    }

}


@media (min-width: 800px) {
    .container__contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        &__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 13%;
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);
            &__name{
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-size: small;
            }
            h3{
                font-size: medium;
                font-weight: bold;
            }
            &__role{
                font-size: small;
                color: black;
            }
            &__img {
                margin:2%;
                width: 80%;
                height: 80%;
                border-radius: 12px;
                border: 1px solid rgba(209, 213, 219, 0.3);
            }
            a{
                font-size: small;
            }
        }
    
        }
    }

