@media screen {

  .urlError{
   display: flex;
    width: 100%;
    height: 79vh;
    background-color: #0C3F71;
    align-items: center;
    justify-content: center;  
  }

.style.urlError__cloudpic{
  display: flex;
  width: 0px;
  height: 0px;
  object-fit: cover;
}


.urlError__inner{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}



.urlError__image{
  
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.urlError__text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  right: 1;

}

.urlError__title{
  
  color: cornflowerblue;
  bottom: 1;
}

}
