/* Mobile + */

@media (max-width: 800px) {

  .navBar_Container{

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;


    &_Title{
      color: #293845;
      margin-right: 2%;
    }
  }

}

/* Desktop */
@media (min-width: 800px) {

  .navBar_Container{

    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    position: relative;
    left: 3.5%;

    &_Title{
      color: #293845;
      margin-right: 2%;
    }
  }
 }
