/* Mobile */

.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__mainButtons{
    display: flex;
  }

  &__mainButtons__button {
    display: none;
    color: white;
    background-color: rgb(102, 102, 173) ;
  }

  &__burger {
    display: block;
    color: #653ebe;

  }

  &__mainlogo {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__mainlogo__logo {
    display: flex;
    width: 80%;
    height: 70%;

  }
}

/*  Desktop*/
@media (min-width: 800px) {

  .header {
    width: 100%;
    max-height: 10%;
    display: flex;
    flex-direction: row;

    align-items: center;

    &__burger {
      display: none;
    }

    &__mainButtons{
      display: flex;
      width: 50%;
      justify-content: flex-end;
      margin-right: 2%;

    }
    &__mainButtons__button{
      display: block;
      margin-right: 2%;
    }

    &__mainLogo {
      width: 20%;
      height: 15%;
      display: flex;
      align-items: flex-start;

    }

    &__mainlogo__logo {
      display: block;
      width: 80%;
      height: 60%;

    }
  }
}
