.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    
  }
  .inputfile:focus + label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  .inputfile + label * {
    pointer-events: none;
  }
  
  .labelButton{
    padding: 0.5rem 1rem;
    background-color: rgb(157, 189, 178);
    color: white;
    font-weight: bold;
    border-radius:  4px;
    transition: background ease-in-out 250ms;
    text-align: center;
    
    &:hover{
      background-color:rgb(71, 107, 94) ;
    }
  }