.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    
  }
  .inputfile:focus + label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  .inputfile + label * {
    pointer-events: none;
  }
  
  .labelButton{
    display: block;
    background-color: #9dbdb2;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
  }