

.slide{
  display: block;

  &__icon{
    display: none;
  }
  &__icon_open{
    display: none;
  }
}
.slide__left__open {
  display: block;

  
}


/* Desktop */
@media (min-width: 1100px) {
.slide {
  display: flex;
  width: 50%;
  height: 100%;
  transition: all ease-out 250ms;
  padding: 0.5rem;
  background-color: rgb(248, 248, 248);
  overflow-y: auto;
  direction: rtl;
  
  &__icon{
    display: block;
    padding:0 0.5% 0 0.5%;
    height: 100%;
    border-bottom: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    outline:none;
  }  
}

.slide__left__open {
  transition: all ease-out 250ms;
  transform: translateX(50%);
  background-color: rgb(236, 236, 236);
  width: 0%;

}

}
