@use '../../styles/vars';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$primaryColor;
  padding: 3%;

  &__copyright {
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  &__copyright__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #293845;
    margin-bottom: 0.5rem;
  }

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}



/* Desktop */
@media (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: vars.$primaryColor;
    padding: 1.5%;
    height: 2vh;

    &__copyright {
      width: 100%;
      align-items: center;
    }

    &__copyright__content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
    }

    &__navbar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
