@use '../../styles/vars';
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:  space-between;
  width: 100%;
  min-height: 75px;
  padding: 1rem 5rem;
  background-color: white;

  &__username{
    padding-right: 3%;
  }

  &__logoContainer{
    width: 15%;
    z-index: 2;
  }
  
  &__linksContainer{
    display: flex;
    align-items: center;

    &__avatar{
      display: none;
      
      
    }

    &__link{
      padding: 0 0.3rem;
      
      &__sublink{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        white-space:nowrap;
        
      }
    }  
  }
  &__burger{
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
  
  }
}

@media screen and (max-width: 800px){

  .navbar{
    width: 100%;
    padding: 1.5rem;
    position:relative;
    overflow: hidden;

    &__message{
    display: none;
    }

    &__logoContainer{
      width: 60%;
      z-index: 4;
    }

    &__linksContainer{

      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      width: 67vw;
      align-items: center;
      position: absolute;
      right:-100vw;
      top: 0;
      padding: 2rem 0.3rem;
      padding-top: 100px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)) ;
      z-index: 3;
      transition: all ease 600ms;

  
      &__link{
        display: block;
        justify-content: center;
        align-items: flex-end;
        padding: 0.3rem 1.5rem;
        text-align: right;

      }
    } 
    &__burger{
      display: block;
      z-index: 3;
    }
  }
  .navbarOpened{
    overflow: visible;
  }
  .navbarOpened .navbar__linksContainer{
      right: 0;
      transition: all ease-out 250ms;

      &__link{
        width: 100%;
        white-space: nowrap;
        &::after{
          content: "";
          display: block;
          margin: 0.3rem 0 0.3rem auto;
          width: 35vw;
          height: 1px;
          background-color: rgb(211, 211, 211);
        }
        &:last-child::after{
       display: none;
        }
      }
    }
}
  