@use "../../styles/vars" ;

.oops{
  text-align: center;
  color: vars.$primaryColor;
  font-weight:bold;
  width: 100%;
}
.boarddatas_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10%;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    width: 100%;
    height: 100%;

    &__percent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 50%;
      padding: 2%;
      margin-top: 7%;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &__picture {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    position: relative;
    &__bar{
      margin-top: 10%;
    }
    &__dougnut{
     height: 30rem;
    }
    &__graph {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50%;
      align-items: center;
      margin-top: 7%;
      padding: 2%;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &__picture {
        width: 100%;
      }
    }
  }
}


/* Desktop */
@media (min-width: 800px) {

  .boarddatas_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  
  
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      
  
      &__percent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: fit-content;
        padding: 2%;
        margin-top: 3%;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: white;
        &__picture {
          width: 100%;
        }
      }
    }
  
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
      overflow-y: scroll;
  
      &__pie {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: fit-content;
        align-items: center;
        margin: 0% 3% 3% 3%;
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
      &__bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin: 0% 3% 3% 3%;
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
      &__line {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin: 0% 3% 3% 3%;
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
      &__dougnut {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: fit-content;
        align-items: center;
        margin: 0% 3% 3% 3%;
        background-color: white;
        padding: 2%;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }
  }

}
